@import '../../../styles/variables/_colors.scss';
@import '../../../styles/mixins/containers.scss';

.Burger{
    @include c-flex;
    cursor: pointer;
    >div{
        width: 40px;
        height: 5px;
        background-color: $main;
        margin: 2px 0px;
    }
}

@media (min-width: 600px) {
    .Burger{
        display: none;
    }
}