.cardBlock {
  border-radius: 18px;
  border: 1px solid #636464;
  padding: 1.4rem 2.2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 20vw;
  height: 60vh;

  > div:nth-child(3),
  div:nth-child(4) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > h3 {
      font-weight: 500;
    }
  }
  > div:nth-child(4) {
    color: #e550e0;
  }
  > button {
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: #0c6862;
    color: white;
    transition: 0.3s;
    font-weight: bold;
  }
  > button:hover {
    // border: 1px solid black;
    scale: calc(103%);
    background-color: #0d6e68;
    transition: 0.5s;
  }
}

.Like {
  display: flex;
  justify-content: flex-end;
}
