.Button {
  padding: 17px 40px;
  color: white;
  border-radius: 50px;
  border: 0;
  background-color: #0c6862;
  box-shadow: rgba(255, 255, 255, 0.964) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.Button:hover {
  letter-spacing: 3px;
  background-color: #0c6862;
  color: hsl(0, 0%, 100%);
  box-shadow: #0c6862;
}

.Button:active {
  letter-spacing: 3px;
  background-color: #0c6862;
  color: hsl(0, 0%, 100%);
  box-shadow: #0c6862;
  transform: translateY(10px);
  transition: 100ms;
}
