.Dropdown {
  display: inline-block;
  font-size: 21px;
  color: black;
  overflow: hidden;
  border: 0px solid #0c6862;
  border-radius: 50%;
  max-height: 33px;
  cursor: pointer;
  transition: height 4s;

  &.active {
    max-height: unset;
  }
  .dropdown-element {
    // padding: 15px 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}
