.picture {
    position: absolute;
    width: 174.04px;
    height: 206.92px;
    left: 60px;
    top: 150px;
    transform: rotate(-12.19deg);
    }
    
.picture3 {
    position: absolute;
    width: 174.04px;
    height: 206.92px;
    left: 1000px;
    top: 300px;
    transform: rotate(-12.19deg);
}

.titleSpan {
    position: absolute;
    top: 104px;
    left: 355px;
    font-family: 'Inter';
    font-size: 15px;
    color: #616161;
}

.titleDiv {
    position: absolute;
    top: 145px;
    left: 310px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.055em;
    color: #616161;
}

.inpDiv {
    box-sizing: border-box;
    position: relative;
    left: 1px;
    right: 37.14%;
    top: 80px;
    bottom: 56.02%;
    background: #FFFFFF;
    border: 0.3px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 490px;
    height: 53px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 14px;
}

.inputs {
    position: absolute;
    top: 1px;
    display: flex;
    height: 200px;
    width: 500px;
    justify-content: space-between;
    flex-direction: column;
}

.p {
    position: absolute;
    width: 503px;
    height: 56px;
    left: 1px;
    top: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #747474;
}

.btn {
    position: relative;
    top: 320px;
    left: 50px;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 47px;
    background: #0C6862;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 40px;
    border: none;
}