.Search{
    border: .4px solid #686869;
    border-radius: 12px;
    padding: 10px 16px;
    width: 400px;
}
.icon{
    position: relative;
    right: 32px;
    top: 8px;
}

@media (max-width: 600px) {
    .Search{
        width: 200px;
    }
}