.restore {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: #555757;
}

// span {
//   left: 375px;
//   right: 555px;
//   top: 250px;
//   font-family: "Inter";
//   font-weight: 500;
//   font-size: 11px;
//   letter-spacing: 0.005em;
//   color: #4a4a4a;
// }

.input {
  box-sizing: border-box;
  width: 400px;
  height: 45px;
  top: 200px;
  left: 375px;
  bottom: 61.93%;
  padding: 10px;
  border: 0.6px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.btn {
  top: 290px;
  //   left: 25px;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background: #0c6862;
  color: #ffffff;
  font-weight: 600;
  border-radius: 40px;
  border: none;
}

.picture {
  //   width: 174.04px;
  //   height: 206.92px;
  //   left: 100px;
  //   top: 200px;
  transform: rotate(-12.19deg);
}

.picture3 {
  //   width: 174.04px;
  //   height: 206.92px;
  //   left: 950px;
  //   top: 350px;
  margin: 0%;
  transform: rotate(-12.19deg);
}
