.Nav{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 30px auto;
    .extraNav{
        display: flex;
        >*{
            margin: 0 20px;
        }
    }
}
@media (max-width: 600px) {
    .Nav{
        .extraNav{
            display: none;
        }
    }
}