.Nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 30px auto;
  .extraNav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > * {
      margin: 0 20px;
    }
    > button {
      height: 3rem;
      padding: 12px 30px;
      border-radius: 25px;
      border: none;
      background-color: #0c6862;
      color: white;
      transition: 0.3s;
      font-weight: bold;
    }
    > button:hover {
      // border: 1px solid black;
      scale: calc(103%);
      background-color: #0d6e68;
      transition: 0.5s;
    }
  }
}
@media (max-width: 600px) {
  .Nav {
    .extraNav {
      display: none;
    }
  }
}
