.Nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 30px auto;
  .extraNav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > * {
      margin: 0 20px;
    }
  }
}
@media (max-width: 600px) {
  .Nav {
    .extraNav {
      display: none;
    }
  }
}
